{% extends 'base.html' %}

{% block content %}

<div class="navbar">
    <a href="..\" style="text-decoration:none">home</a>
    <a href="..\sklepik" style="text-decoration:none">sklepik</a>
    <a href="..\adnotacja" style="text-decoration:none">adnotacja</a>
  </div>

    <div class="product">

        <p>Autorem niniejszego serwisu jest Patrycja A. Gołdyś.
            Serwis ten stanowi integralną część pracy licencjackiej (kierunek: elektroniczne przetwarzanie informacji), przygotowanej pod kierunkiem dr Piotra Śliwińskiego, na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>



    </div>

    {% endblock %}