{% extends 'base.html' %}

{% block content %}
<head>
  <div class="navbar">
  <a href="..\" style="text-decoration:none">home</a>
  <a href="..\sklepik" style="text-decoration:none">sklepik</a>
  <a href="..\adnotacja" style="text-decoration:none">adnotacja</a>
</div>
    <title>Strona z tworami</title>
</head>   

  <div class="product">
    <div class="box">
      <div class="avatar">
      <img src="avatar.png">
      </div>
       <div class="box_smaller">
        <div class="bio">
          <p style="font-size: 1.5rem">Mam na imię Patrycja i jestem twórcą multimedialnym. Strona jest pracą licencjacką na kierunku Elektroniczne przetwarzanie informacji. Zawarte tutaj produkty zostały wykonane przeze mnie i dzielą się na 2 typy: ilustracje i biżuterię. Zachęcam do przejrzenia!
          </p>
        </div>
        <div class="spis">
          <h6>Spis:</h6>
          <a>I. Ilustracje......................</a>
          <div class="button">
            <a href="..\sklepik"></a>
            <button type="submit" class="button" id="button">Przejdź</button>
          </div>
          <a>II. Biżuteria......................</a>
          
            <div class="button">
              <a href="..\sklepik"></a>
              <button type="submit" class="button" id="button">Przejdź</button>
            </div>
          </a> 
        </div>  
      </div>
      </div>
  </div>
      
      <div class="form_order">
    <form action="mailto:patrycja.goldys@gmail.com" method="post" enctype="text/plain">
        <h6>Zapisz się do newslettera!</h6>
        <p>Będziesz mieć dostęp do informacji o produktach i wyjatkowych ptasich ciekawostek.</p>
       Adres email: <br><input type="text" name="Nazwa produktu: "> <br>
        <input style="background-color:#8784e1; padding: 3%; border-style: none" type="submit" value="Wyślij">
     </form>
     </div>


          
        </footer>
      </div>
      </div>

{% endblock %}