{% extends 'base.html' %}

{% block content %}
<head>
  <div class="navbar">
  <a href="..\" style="text-decoration:none">home</a>
  <a href="..\sklepik" style="text-decoration:none">sklepik</a>
  <a href="..\adnotacja" style="text-decoration:none">adnotacja</a>
</div>
    <title>Strona z tworami</title>
</head>   

  <div class="product">
    <div class="box">
      <div class="avatar">
      <img src="avatar.png">
      </div>
       <div class="box_smaller">
        <div class="bio">
          <p style="font-size: 1.5rem">Mam na imię Patrycja i jestem twórcą multimedialnym. Strona jest pracą licencjacką na kierunku Elektroniczne przetwarzanie informacji. Zawarte tutaj produkty zostały wykonane przeze mnie i dzielą się na dwa typy: ilustracje i biżuterię. Zachęcam do przejrzenia!
          </p>
        </div>
      </div>
      </div>
  </div>
      
      <div class="form_order">
    <form action="mailto:patrycja.goldys@gmail.com" method="post" enctype="text/plain">
        <h2>Zapisz się do newslettera!</h2>
        <p>Będziesz mieć dostęp do informacji o produktach i wyjatkowych ptasich ciekawostek.</p>
       Adres email: <br><input type="text" name="Nazwa produktu: "> <br>
        <input style="background-color:#8784e1; margin-left: 80%; padding: 3%; border-style: none" type="submit" value="Wyślij">
      <div class="znaczek"><img src="znaczek.jpg"></div>
      </form>
     </div>


          
        </footer>
      </div>
      </div>

{% endblock %}