{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Students {% endblock %}</h1>
    <div class="content">
        {% for product in products %}
            <div class="product">
                <p><b>#{{ product.id }}</b></p>
                <b>
                    <p class="title">{{ product.title }}</p>
                </b>
                <p>{{ product.type }}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ product.bio }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}