{% extends 'base.html' %}

{% block content %}

  
    <div class="content">
        <div class="navbar">
            <a href="..\" style="text-decoration:none">home</a>
            <a href="..\sklepik" style="text-decoration:none">sklepik</a>
            <a href="..\adnotacja" style="text-decoration:none">adnotacja</a>
          </div>
        {% for product in products %}
        <h6>Kliknij w zdjęcie, aby zakupić!</h6>
            <div class="product">
            <a href="..\produkt\{{ product.id }}">
                <img src=" {{ product.image }} ">
            </a>
                <div class="opis_ptaka">
                <p><b>{{ product.title }}</b></p>
                <b>
                    <p class="title">{{ product.title_latin }}</p>
                </b>
                <p>{{ product.size }}</p>



                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ product.bio_fact }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">PGoldys 2024</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          
        </footer>
      </div>
{% endblock %}